:root {
    --primary: rgb(23, 23, 23);
    --secondary: rgb(179,30,60);
    --terciary: rgb(50, 50, 50);
    --quaternary: rgb(174, 174, 174);
    --primary-font: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    color: var(--primary-font);
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.primary-button {
    padding: 1rem;
    background-color: var(--secondary);
    border: solid 1px var(--secondary);
    display: flex;
    align-items: center;
}

.primary-button:hover {
    background-color: transparent;
}

.secondary-button {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px var(--primary-font);
}

.secondary-button:hover {
    background-color: var(--secondary);
}


#signature {
    margin: auto 0;
}

header {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.signature-container {
    display: flex;
    gap: 1rem;
    width: fit-content;
}

.nav-sig {
    height: 5rem;
    width: 5rem;
}

nav {
    flex-direction: column;
    gap: 1rem;
}

nav a {
    width: fit-content;
    white-space: nowrap;
    height: fit-content;
    padding: 0;
}

nav a:hover {
    background-color: var(--secondary);
}

#nav-expand {
    display: block;
    height: 2rem;
    font-size: xx-large;
    margin: auto 0;
    background-color: transparent;
    border: none;
}

.show {
    display: flex !important;
}

.pad-container {
    padding: 2rem 1rem;
}

.top-nav {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
    padding: 1rem;
    background-color: var(--secondary);
}

.footer-sig {
    height: 2rem;
    width: 15rem;
}

@media (min-width: 1024px) {
    nav {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        transform: none;
        position: relative;
        top: 0;
        background-color: transparent;
        padding: 0;
        width: fit-content;
    }

    .top-nav {
        display: flex;
        position: relative;
        width: fit-content;
        padding: 0;
        background-color: transparent;
        top: 0;
    }

    nav a {
        width: 100%;
        padding: 1rem;
    }

    #nav-expand {
        display: none;
    }

    .pad-container {
        padding: 2rem 3rem;
    }

    .nav-sig {
        height: 2rem;
        width: 15rem;
    }
}