@import url('./global.css');


#home-link {
    border-bottom: solid 1px var(--primary-font);
    height: fit-content;
}

#home {
    background-color: var(--primary);
    padding: 2rem 3rem;
    min-height: 100svh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    flex: 1 1 0%;
    position: relative;
}

.hero img {
    height: 225%;
    position: absolute;
    bottom: -1rem;
}

.portrait-container {
    border: solid var(--secondary) 1rem;
    min-width: 30%;
    max-height: 50%;
    max-width: 235px;
    width: 100%;
    aspect-ratio: 4/3;
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.left-panel {
    position: relative;
    display: block;
    height: 100%;
    min-height: 50svh;
}

.empty-block {
    display: none;
    border: solid var(--quaternary) 8px;
    position: absolute;
    height: 25%;
    /* plus border plus spacing */
    left: calc(100% + 1rem + 1rem);
    bottom: 1rem;
    aspect-ratio: 1/1;
}

@media (min-width: 1250px) {
    .portrait-container {
        bottom: 0;
        transform: none;
    }
}

@media (min-width: 1024px) {
    .portrait-container {
        position: absolute;
        min-height: 0;
        max-height: 48%;
        max-width: 50svw;
        width: 40%;
        left: auto;
    }

    .left-panel {
        position: static;
    }

    .empty-block {
        display: block;
    }
}

@media (min-width: 1024px) and (max-width: 1250px) {
    .portrait-container {
        bottom: 50%;
        transform: translateY(100%);
    }
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero h3 {
    color: var(--secondary);
    font-size: smaller;
}

.hero h1 {
    font-size: 2rem;
}

.hero h2 {
    margin-bottom: 1rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}


.buttons-container {
    display: flex;
    gap: 1rem;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    #home {
        padding: 2rem 3rem 0 3rem;
    }

    .hero {
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }

    .hero h1 {
        font-size: 4rem;
    }
}


.screen-container {
    padding: 2rem 3rem 0 3rem;
    height: 100svh;
    min-height: 675px;
    display: grid;
    grid-template-columns: 100%;
}

.screen-container > div img {
    height: 5rem;
    width: 5rem;
    aspect-ratio: 1/1;
}

.container-text {
    margin: auto auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.screen-container h1 {
    font-size: 2rem;
}

.screen-container h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}

.screen-container a {
    width: fit-content;
}

.img-container {
    display: none;
}


#kids-lessons {
    background-color: var(--terciary);
}

#kids-photo {
    background: url('./assets/kids-lessons.png');
    height: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
}


#adult-lessons {
    background-color: var(--primary);
}

#adult-photo {
    background: url('./assets/adult-lessons.png');
    height: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
}


#reviews {
    padding: 2rem 3rem;
    min-height: fit-content;
    height: clamp(fit-content, 50svh, 50svh);
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#reviews p {
    width: 100%;
}

.review {
    font-weight: bold;
}

.location {
    font-weight: lighter;
    font-size: smaller;
}


#last-chance {
    padding: 2rem 3rem;
    text-align: center;
    background: url('./assets/piano-closeup.jpg');
    min-height: 50svh;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.last-chance-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#footer {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    padding: 3rem;
}

#footer nav {
    display: flex;
    gap: 1rem;
}

.icon-container {
    display: flex;
    gap: 1rem;
}

#facebook-icon {
    background: url('./assets/facebook.png');
    background-size: cover;
    display: block;
    height: 24px;
    aspect-ratio: 1/1;
}

#instagram-icon {
    background: url('./assets/instagram.png');
    background-size: cover;
    display: block;
    height: 24px;
    aspect-ratio: 1/1;
}

#linkedin-icon {
    background: url('./assets/linkedin.png');
    background-size: cover;
    display: block;
    height: 24px;
    aspect-ratio: 1/1;
}


@media (min-width: 1024px) {
    .img-container {
        display: block;
        margin: auto auto;
        width: 65%;
        display: flex;
        flex-direction: column;
    }

    .screen-container {
        grid-template-columns: 50% 50%;
    }

    .screen-container h1 {
        font-size: 3rem;
    }

    .container-text {
        width: 65%;
    }

    #footer {
        flex-direction: row;
    }

    #reviews p {
        width: 100%;
    }
}