@import url('../style.css');

body {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

#lessons {
    height: fit-content;
    border-bottom: solid 1px var(--primary-font);
}

.pad-container {
    flex: 1 1 0%;
}

p {
    margin: 4rem auto;
    background-color: var(--secondary);
    padding: 2rem;
    width: 100%;
    border: solid 1rem var(--quaternary);
    position: relative;
}

p::before {
    border: solid 1rem var(--primary);
    position: absolute;
    z-index: 1;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    content: " ";
}

main {
    width: 100%;
    margin: auto;
}

@media (min-width: 1024px) {
    main {
        width: 50%
    }
}