@import url('../style.css');

body {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

#lessons {
    height: fit-content;
    border-bottom: solid 1px var(--primary-font);
}

.pad-container {
    flex: 1 1 0%;
}