@import url('../style.css');

body {
    background-color: var(--primary);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

#pricing {
    border-bottom: solid 1px var(--primary-font);
    height: fit-content;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 4rem auto;
    background-color: var(--secondary);
    padding: 2rem;
    width: 100%;
    border: solid 1rem var(--quaternary);
    position: relative;
}

.pad-container {
    flex: 1 1 0%;
    margin-bottom: 5rem;
}

@media (min-width: 1024px) {
    main {
        width: 50%;
    }
}

.secondary-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main::before {
    border: solid 1rem var(--primary);
    position: absolute;
    z-index: 1;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    content: " ";
}