@import url('../style.css');

body {
    background-color: var(--primary);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

#biography {
    border-bottom: solid 1px var(--primary-font);
    height: fit-content;
}

main {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

p {
    margin: 0 auto;
    background-color: var(--secondary);
    padding: 2rem;
    width: 100%;
    border: solid 1rem var(--quaternary);
    position: relative;
}

p::before {
    border: solid 1rem var(--primary);
    position: absolute;
    z-index: 1;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    content: " ";
}

.bio-pic {
    margin-top: 1rem;
    position: relative;
    border: solid 1rem var(--secondary);
    width: fit-content;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bio-pic::before {
    border: solid 1rem var(--primary);
    position: absolute;
    z-index: 1;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    content: " ";
}

.pad-container {
    flex: 1 1 0%;
}

.bio-pic img {
    margin: 1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 1550px) {
    p {
        width: 75%;
    }

    main {
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        width: 75%;
        padding: 0 5rem;
    }

    .bio-pic {
        display: block;
    }
}

@media (min-width: 1024px) {
    .bio-pic {
        display: block;
    }

    main {
        flex-direction: row;
    }

    p {
        margin: 4rem auto;
    }
}